.dialog-header {
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f5f5f5;
}

.dialog-controls {
  display: flex;
}

mat-dialog-content {
  padding: 0 !important;
  overflow: hidden !important;
  transition: height 0.3s ease-in-out;

  &.minimized {
    height: 0 !important;
  }
}
