<div class="map-container">
  <aol-map>
    <aol-view [zoom]="2">
      <aol-coordinate
        [x]="5.795122"
        [y]="45.210225"
        [srid]="'EPSG:4326'"
      ></aol-coordinate>
    </aol-view>
    <aol-layer-tile>
      <aol-source-osm></aol-source-osm>
    </aol-layer-tile>
    <aol-interaction-default></aol-interaction-default>
    <aol-control-scaleline></aol-control-scaleline>
    <aol-control-zoomslider></aol-control-zoomslider>
    <aol-control-zoom></aol-control-zoom>
  </aol-map>
</div>
