@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}

html, body {
  height: 100%;
}

.draggable-dialog .mat-mdc-dialog-container {
  padding: 0;
}

.draggable-dialog .mat-mdc-dialog-surface {
  overflow: hidden;
}

table {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For IE/Edge */
}
